.fixed-btn{
    position: fixed;
    background: #0FACF3;
    width: 180px;
    height: 45px;
    line-height: 45px;
    bottom: 10%;
    right: 3%;
    border-radius: 5px;
    text-align: center;

}

#mapid{
    height: 100vh;
    width: 100%;
}

#markermapid{
    height: 50vh;
    width: 100%;
}

#img-same-size{
    float: left;
    width:  100px;
    height: 100px;
    object-fit:scale-down;
    stroke: black;
}

#map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid black;
    }

    #button-wrapper {
    position: absolute;
    margin: auto;
    bottom: 0.5vh;
    left: 10;
    right: 0;
    border: 1px solid red;
    }

    #button-wrapper2 {
    position: absolute;
    margin: auto;
    bottom: 0.5vh;
    left: 130;
    right: 0;
    border: 1px solid red;
    }

    #reportmedia {
        width: 100%;
        height: 100%;
    }
